@use "../../variables" as *;

.cm-s-obsidian {
  span.cm-comment {
    color: var(--code-comment);
  }

  span.cm-string {
    color: var(--code-string);
  }

  span.cm-keyword {
    color: var(--code-keyword);
  }

  span.cm-def,
  span.cm-variable-2 {
    color: var(--code-function);
  }

  span.cm-variable.cm-callee,
  span.cm-def.cm-callee {
    color: var(--code-function);
  }

  span.cm-number,
  span.cm-atom,
  span.cm-bool,
  span.cm-boolean,
  span.cm-null {
    color: var(--code-value);
  }

  span.cm-property,
  span.cm-attribute {
    color: var(--code-property);
  }

  span.cm-punctuation,
  span.cm-bracket {
    color: var(--code-punctuation);
  }

  span.cm-operator {
    color: var(--code-operator);
  }

  span.cm-type,
  span.cm-class {
    color: var(--code-type);
  }

  span.cm-builtin {
    color: var(--code-builtin);
  }

  span.cm-variable,
  span.cm-variable-3 {
    color: var(--monokai-code-variable);
  }

  span.cm-parameter {
    color: var(--monokai-code-parameter);
  }

  span.cm-constant {
    color: var(--code-constant);
  }

  span.cm-tag {
    color: var(--code-tag);
  }

  span.cm-qualifier,
  span.cm-namespace {
    color: var(--monokai-code-module);
  }

  span.cm-meta {
    color: var(--code-meta);
  }

  span.cm-decorator {
    color: var(--code-decorator);
  }

  span.cm-string-2 {
    color: var(--code-regex);
  }

  span.cm-error {
    color: var(--code-error);
    text-decoration-color: var(--code-error);
  }
}

.markdown-rendered pre code,
.cm-preview-code-block code {
  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: var(--code-comment);
  }

  .token.property,
  .token.attr-name {
    color: var(--code-property);
  }

  .token.string,
  .token.char {
    color: var(--code-string);
  }

  .token.number,
  .token.boolean,
  .token.constant,
  .token.null {
    color: var(--code-value);
  }

  .token.keyword,
  .token.important {
    color: var(--code-keyword);
  }

  .token.function {
    color: var(--code-function);
  }

  .token.operator {
    color: var(--code-operator);
  }

  .token.punctuation {
    color: var(--code-punctuation);
  }

  .token.class-name,
  .token.type {
    color: var(--code-type);
  }

  .token.builtin {
    color: var(--code-builtin);
  }

  .token.namespace {
    color: var(--monokai-code-module);
  }

  .token.decorator,
  .token.annotation {
    color: var(--code-decorator);
  }

  .token.regex {
    color: var(--code-regex);
  }

  .token.variable {
    color: var(--monokai-code-variable);
  }
}

